
ody, html {
    height: 100%;
    margin: 0;
}


.bg {
    /* The image used */
    background-image: url("gym.jpg");
    width:100%;
    /* Full height */
    height:100%; 
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

.header{
    width:100%;
    height:800px;
    background-image:url(bck2.jpg);
}

.nav .menu-bar{
    width:100%;
    text-align:center;
    box-shadow: 1px 2px 4px grey;
    background:rgba(2,2,2,0.2);

}

.menu-bar li{
    padding-left:30px;
    list-style-type:none;
    display:inline-block;
    padding-left:20px;
   /* margin:0px 20px;*/
    font-size:15px;
    font-family:sans-serif;
    cursor:pointer;
    font-weight: bold;
    float: left;
    margin-right: 0.5em; 
    min-width: 10em;
    text-align: center; 
}

.menu-bar li:hover{
background-color: white;
    -webkit-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    transform:scale(1.2,1.2);
}
